* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Snippet", sans-serif;
  height: 100vh;
  width: 100%;
}
.uppertext {
  z-index: 2;
  height: 10vh;
  text-align: center;
  color: black;
  font-size: 2.2rem;
}
.main {
  position: absolute;
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
}
.photo {
  -webkit-box-shadow: 0px 23px 95px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 23px 95px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 23px 95px -24px rgba(0, 0, 0, 0.75);
  background-image: url(./pictures/norwegian.png);
  background-size: cover;
  background-position: 50% 50%;
  grid-column: 2/3;
}
.photobuttons {
  z-index: 1;
  position: absolute;
  right: 100px;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.photobuttons li {
  transition: 0.5s ease all;
  cursor: pointer;
  padding: 0;
  list-style: none;
  height: 30px;
  width: 30px;
  background-color: black;
}
#one {
  margin-bottom: -30px;
}
#three {
  margin-top: -30px;
}

.photoname {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: absolute;
  color: rgb(158, 158, 158);
  bottom: 0;
  left: -100%;
  font-size: 62px;
  transform: rotate(180deg);
}
.photoname span {
  color: black;
}
.active {
  background-color: rgb(165, 165, 165) !important;
}
.footer {
  position: fixed;
  bottom: 0rem;
  height: 10vh;
  width: 100%;
}
/* page one */
.pageone {
  opacity: 0;
}
/* page two */
.pagetwo {
  opacity: 0;
}
.pagetwo .photo {
  background-image: url(./pictures/african.png);
}
/*page three*/
.pagethree {
  opacity: 0;
}
.pagethree .photo {
  background-image: url(./pictures/amazonian.png);
}
footer {
  margin-right: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .uppertext {
    margin: 1rem 0 1rem 0;
    font-size: 2.5rem;
    height: auto;
  }
  .photo {
    margin: 1rem;
    height: 100%;
  }
  .photobuttons {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .pageone,
  .pagetwo,
  .pagethree {
    opacity: 1;
  }
  .photoname {
    bottom: 8vh;
    transform: rotate(0deg);
    color: whitesmoke;
    text-shadow: 3px 3px 15px black;
    writing-mode: horizontal-tb;
    position: relative;
    left: 0px;
  }
  .photoname span {
    color: whitesmoke;
  }
  footer {
    position: relative;
    text-align: right;
  }
}
